doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/i18next-1.11.2.min.js')
    
    script(src='https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js')
    script(src='https://unpkg.com/ionicons@4.4.4/dist/ionicons.js')
    script(src='https://cdn.jsdelivr.net/npm/eosjs@16.0.9/lib/eos.min.js')
    script(src='https://cdn.jsdelivr.net/npm/eosjs-ecc@4.0.4/lib/eosjs-ecc.min.js')
    script(src='/javascripts/main.js')
    body
    block content
